{% extends 'base.html' %}

{% block body %}


<head><title>Testowa aplikacja do nauki</title>
        <h1>Mini web-app in Flask</h1>
            <h2>1. Button</h2>
            <button>
                <a href="{{ url_for('my_link') }}">Do not click</a>
            </button>
    <p></p>
            <h2>2. Slider with Javascript element</h2>
            <div id="slidecontainer">
                <p>Wprowadź parametr liczbowy</p>
                <form method="POST" action="test">
                    <input type="range" id="slider" min="0" max="100" step="5" name="slider" />
                    <input type="submit" value="Wprowadź"/>
                    <p>Value: <span id="demo"></span></p>
                </form>
            </div>
<script>
var slider = document.getElementById("slider");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
</script>
            <h2>3. User input form</h2>
            <p>Podaj swoje imię:</p>
                <form method ="post" action="login">
                    <p><input type = "text" name = "nm" /></p>
                    <p><input type = "submit" value = "Wprowadź" /></p>
                </form>
    <h2>Login form</h2>
            <button> <a href="{{ url_for('form') }}">Login</a></button>
</head>
</html>


{% endblock %}